# Node modules
node_modules/
**/node_modules/
**/package-lock.json

# IDEs and editors
/.idea
*.swp
*.swo
*.tmp
*~.nib

# Environment Variables
.env

# Test coverage
coverage/

# System Files
.DS_Store
Thumbs.db